<script type="text/javascript" src="/scripts/music.js"></script>
<!-- Latest Sortable -->
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
{{!-- <script type="module" src="/scripts/music.js"></script> --}}
<!-- Hello Part -->
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Search for Artists / Songs</p>
    </div>

    <!-- Carousel -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col">
              <a href="https://open.spotify.com/album/2noRn2Aes5aoNVsU6iWThc?si=i_X2ZeVIT1KSzWEZwm8dxw" target="_blank"><img src="./images/Daft_Punk_-_Discovery.jpg" class="d-block w-100 h-100 w-auto mx-auto" alt="..."></a>
            </div>
            <div class="col">
              <a href="https://open.spotify.com/album/0bUTHlWbkSQysoM3VsWldT?si=vBhmOD8rQM-sfKeWgQkT5A" target="_blank"><img src="./images/Daftpunk-homework.jpg" class="d-block w-100 h-100 w-auto mx-auto" alt="...">
              </a>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- End Carousel -->
    
    <!-- DIV for album pictures, this will hopefully use an API as well -->

    <!-- Search Box 
    - Radio Buttons for Artist, Song
    -->
    <div class="btn-group" role="group" aria-label="Basic example">
        <input style='margin: 10px 5px 10px 20px' type="radio" id='artist-radio' name="search" class="btn btn-secondary">Artist</input>
        <input style='margin: 10px 5px 10px 20px' type="radio" id='song-radio' name="search" class="btn btn-secondary">Song</input>
    </div>

    <!-- Search Bar -->
    <div class="row">
        <div class="input-group">
            <input type="search" class="form-control rounded" id='music_search' placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            <button type="button" id="search-button" class="btn btn-outline-primary">search</button>
        </div>
    </div>

    <div class="container" id="results-userlist">
        <div class="row">
            {{!-- <div class="container-fluid" id="search-results"> --}}
            <div class="col" id="search-results">
                <p class="lead" "text-align: center">Search Results Here!</p>
                <div class="col list-group" id="search-result-lists">
                    {{!-- Search results will be added here --}}
                </div>
            </div>

            <!-- DIV that will display the songs returned from the search request -->
            <!-- This will include buttons that are able to submit to the div list below -->
            {{!-- <div class="container-fluid" id="added-song-container"> --}}
            <div class="col" id="added-song-container">
                <p class="lead" "text-align: center">Your List!</p>
                <div class="row" id="added-song-list">
                    {{!-- Search results will be added here --}}
                </div>
                <div class="row" id="delete-export">  {{!-- DELETE AND EXPORT ROW --}}
                      <div class="col-6 text-center" id="deleteButton">
                      </div>
                      <div class="col-6 text-center">
                        <a id="link" href="#exportedList">
                          <div class="text-center" id="exportButton">
                          </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center" id="exportedList"></div>
    
    
    <script>
      var added_song_list = document.getElementById("added-song-list");
      new Sortable(added_song_list, {
          animation: 150,
          ghostClass: 'blue-background-class'
      });
    </script>
</div>
