<script type="text/javascript" src="/scripts/music.js"></script>
{{!-- <script type="module" src="/scripts/music.js"></script> --}}
<!-- Hello Part -->
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Search for Artists / Songs</p>
    </div>
    
    <!-- DIV for album pictures, this will hopefully use an API as well -->

    <!-- Search Box 
    - Radio Buttons for Artist, Song
    -->
    <div class="btn-group" role="group" aria-label="Basic example">
        <input style='margin: 10px 5px 10px 20px' type="radio" id='artist-radio' name="search" class="btn btn-secondary">Artist</input>
        <input style='margin: 10px 5px 10px 20px' type="radio" id='song-radio' name="search" class="btn btn-secondary">Song</input>
    </div>

    <!-- Search Bar -->
    <div class="row">
        <div class="input-group">
            <input type="search" class="form-control rounded" onkeyup="myFunction()" id='music_search' placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            <button type="button" id="search-button" class="btn btn-outline-primary">search</button>
        </div>
    </div>

    <div class="container" id="results-userlist">
        <div class="row">
            {{!-- <div class="container-fluid" id="search-results"> --}}
            <div class="col" id="search-results">
                <p class="lead" "text-align: center">Search Results Here!</p>
                <div class="col list-group" id="search-result-lists">
                    {{!-- Search results will be added here --}}
                </div>
            </div>

            <!-- DIV that will display the songs returned from the search request -->
            <!-- This will include buttons that are able to submit to the div list below -->
            {{!-- <div class="container-fluid" id="added-song-container"> --}}
            <div class="col" id="added-song-container">
                <p class="lead" "text-align: center">Your List!</p>
                <div class="list-group" id="added-song-list">
                    {{!-- Dynamically created list will go here --}}
                </div>
            </div>
        </div>
    </div>

    <script>
    </script>
</div>
