/*  
    CLASS: . 
    ID: # 
*/
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

/* #search-results
{
    padding-top: 50px;
    max-width: 60%;
} */

#results-userlist
{
    padding-top: 50px;
    padding-bottom: 50px;
}

p
{
    text-align: center
}

.carousel {
    margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: lightgoldenrodyellow; */
    background-color: whitesmoke;
}

.my-handle {
    cursor: move;
    cursor: -webkit-grabbing;
}

#delete-export{
    padding-top: 10px;
}

.button-group{
    float: right;
    justify-content: right;
}

html {  
    scroll-behavior: smooth;  
}